<div class="page-title">
  <h4>
    <a
      routerLink="/categories"
    >
      Категории</a>
    <i class="material-icons">keyboard_arrow_right</i>
    {{isNew ? 'Добавить' : 'Редактировать'}} категорию
  </h4>
  <span>
            <button
              *ngIf="!isNew"
              class="btn btn-small red"
              (click)="deleteCategory()"

            >
              <i class="material-icons">delete</i>
            </button>
          </span>
</div>

<div class="row">
  <form [formGroup]="form" (ngSubmit)="onSubmit()"  class="col s12 l6">
    <div class="input-field">
      <input
        formControlName="name"
        id="name"
        type="text"
        [ngClass]="{'invalid': form.controls['name']?.invalid && form.controls['name']?.touched}"

      >
      <label for="name">Название</label>
      <span
        class="helper-text red-text"
        *ngIf="form.controls['name']?.invalid && form.controls['name']?.touched"
      >
        <span *ngIf="form.controls['name'].errors?.required">
          Имя категории не может быть пустым.
        </span>
      </span>
    </div>

    <div>
      <input
        type="file"
        class="dn"
        (change)="onFileUpload($event)"
        #input
      >
      <button
        (click)="triggerClick()"
        [disabled]="form.disabled"
        type="button"
        class="waves-effect waves-light btn orange lighten-2 mb2">
        <i class="material-icons left">backup</i>
        Загрузить изображение
      </button>
    </div>

    <div>
      <button
        type="submit"
        [disabled]="form.invalid || form.disabled"
        class="waves-effect waves-light btn">
        Сохранить изменения
      </button>
    </div>
  </form>

  <div class="col s12 l4 center">
    <img
      class="responsive-img h200"
      alt="image"
      [src]="imagePreview"
      *ngIf="imagePreview"
    >
  </div>
</div>

<app-postions-form
  *ngIf="category?._id"
  [categoryId]="category._id"
>
</app-postions-form>


