<div class="page-title">
  <h4>Категории</h4>
  <button
    routerLink="/categories/new"
    class="waves-effect waves-light btn grey darken-1"
  >
    Добавить категорию
  </button>
</div>

<div
  class="row"
  *ngIf="categories$ | async as categories; else loader"
>
  <div class="col s12">
    <div class="collection" *ngIf="categories.length !==0; else empty;">
      <a
        *ngFor="let category of categories"
        class="collection-item"
        [routerLink]="['/categories', category._id]"
      >
        {{category.name}}
      </a>

    </div>
    <ng-template #empty>
      <div class="center">
        У Вас не ниодной категории
      </div>
    </ng-template>
  </div>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
