<div class="row">
  <div class="col s12">
    <div class="page-subtitle">
      <h4>Позиции:</h4>
      <button
        class="waves-effect waves-light btn grey darken-1 btn-small"
        (click)="onAddPosition()"
      >
        Добавить позицию
      </button>
    </div>

    <div *ngIf="!loading; else loader">
      <div class="collection"
           *ngIf="positions.length !== 0; else empty "
      >
        <a
          *ngFor="let position of positions"
          class="collection-item collection-item-icon"
          (click)="onSelectPosition(position)"
        >
          <span>
             {{position.name}} <strong>{{position.cost}} руб.</strong>
          </span>
          <span>
             <i class="material-icons" (click)="onDeletePosition($event, position)">delete</i>
          </span>
        </a>
      </div>
      <ng-template #empty>
        <div class="center">В категории позиций нет</div>
      </ng-template>
    </div>
    <ng-template #loader>
      <app-loader>

      </app-loader>
    </ng-template>
  </div>
</div>


<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div  class="modal" #modal>
    <div class="modal-content">
      <h4 class="mb1">Добавить позицию</h4>
      <div class="input-field">
        <input
          formControlName="name"
          id="pos-name"
          type="text"
          [ngClass]="{'invalid': form.controls['name'].invalid && form.controls['name'].touched}"
        >
        <label for="pos-name">Название</label>
        <span
          *ngIf="form.controls['name'].invalid && form.controls['name']?.touched"
          class="helper-text red-text">
          Название не должно быть пустым
        </span>
      </div>
      <div class="input-field">
        <input
          id="pos-cost"
          type="number"
          min="1"
          formControlName="cost"
          [ngClass]="{'invalid': form.controls['cost'].invalid && form.controls['cost'].touched}"
        >
        <label for="pos-cost">Цена</label>
        <span
          *ngIf="form.controls['cost'].invalid && form.controls['cost'].touched"
          class="helper-text red-text">
          Введите корректную цену. Минимальное значение 1.
        </span>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        (click)="onCancel()"
        class="modal-action waves-effect waves-black btn-flat"
        [disabled]="form.disabled"
      >Отмена</button>
      <button
        class="modal-action btn waves-effect"
        type="submit"
        [disabled]="form.invalid || form.disabled"
      >Сохранить</button>
    </div>
  </div>
</form>

