<form
  class="card"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <div class="card-content">
    <span class="card-title">Создать аккаунт</span>
    <div class="input-field">
      <input
        id="email"
        type="email"
        formControlName="email"
        [ngClass]="{'invalid': form.get('email')?.invalid && form.get('email')?.touched }"
      >
      <label for="email">Email:</label>
      <span
        class="helper-text red-text"
        *ngIf="form.get('email')?.invalid && form.get('email')?.touched "
      >
        <span *ngIf="form.controls['email'].errors?.required">Email не должен быть пустым</span>
        <span *ngIf="form.controls['email'].errors?.email">Введите корректный email адрес</span>
      </span>
    </div>
    <div class="input-field">
      <input
        id="password"
        type="password"
        formControlName="password"
        [ngClass]="{'invalid': form.get('password')?.invalid && form.get('password')?.touched }"
      >
      <label for="password">Пароль:</label>
      <span
        class="helper-text red-text"
        *ngIf="form.get('password')?.invalid && form.get('password')?.touched "
      >
        <span *ngIf="form.controls['password'].errors?.required">Пароль не должен быть пустым</span>
        <span *ngIf="form.controls['password'].errors?.minlength && form.controls['password'].errors?.minlength.requiredLength">
          Пароль должен быть больше {{form.controls['password'].errors?.minlength.requiredLength}} символов.
          Сейчас {{form.controls['password'].errors?.minlength.actualLength}}
        </span>
        <span></span>
      </span>
    </div>
  </div>
  <div class="card-action">
    <button
      type="submit"
      class="modal-action btn waves-effect"
      [disabled]="form.invalid || form.disabled"
    >
      Создать
    </button>
  </div>
</form>
